
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}

#conteudo{
    background-color: rgb(190, 190, 190);
    height: 100pc;
    padding-left: 150px ;
    padding-top: 100px; 
    color: black;
}

body{
    height: 100%;
}

nav.menu-lateral{
    width: 100px;
    height: 100%;
    background-color: rgb(38, 38, 38);
    padding: 40px 0 10px 0%;
    box-shadow: 3px 0 0 #FF0077;
    text-wrap: nowrap;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .3s;
}

nav.menu-lateral:hover{
    width: 250px;
}

nav.menu-lateral.open:hover{
    width: 100px
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{
    color: white;
    font-size: 24px;
    cursor: pointer;
    
}

ul.ulEstilo{
    height: 100%;
    list-style-type: none;
    padding-left: 0%;
}

ul li.item-menu{
    transition: .3s;
}

ul li.item-menu:hover{
    background: #FF0077;

}

ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 40px;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    padding-left: 2rem;
}

